/* CSS Variables */

:root {
  --main-color: peru;
  --filters-hover: rgb(245, 203, 160);
  --button-hover: rgb(255, 171, 87);
  --reset-color: #fff;
  --gray-color: #aaa;
  --wrong-color: rgb(236, 56, 56);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.btn-primary {
  background: var(--main-color);
  border: 1px solid var(--main-color);
  text-align: center;
  margin-top: 1em;
}

.btn-primary:hover {
  background: var(--button-hover);
  border: 1px solid var(--main-color);
}

.fa-dollar-sign {
  background: var(--main-color);
  padding: 0.2em;
  color: var(--reset-color);
}

.price {
  border-radius: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 1em;
  margin: 0.4em;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 2px 3px 26px 0px var(--gray-color);
  -webkit-box-shadow: 2px 3px 26px 0px var(--gray-color);
  transition: box-shadow 0.4s ease-in-out;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.input-group {
  padding: 1em;
  height: auto;
  width: auto;
}

.form-group {
  display: flex;
}

.p {
  text-align: center;
}

.wrongDates {
  color: var(--wrong-color);
  padding-top: 1em;
  text-align: center;
}

.wrongMessage {
  padding-bottom: 5em;
}

.jumbotron {
  background: var(--filters-hover);
  height: 15em;
  width: auto;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: var(--main-color);
  font-weight: bolder;
  padding-left: 0.5em;
  font-size: 3em;
}

.lead {
  margin-top: 1em;
}

.fa-globe-americas {
  color: var(--main-color);
  font-size: 4em;
}

.header {
  display: flex;
  flex-direction: row;
  width: auto;
}

.coincidence-msg {
  margin-top: 5em;
}

.resetFilters {
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--reset-color);
}

.resetFilters:hover {
  background: var(--button-hover);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--reset-color);
}
